@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #f3f5f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #77919d;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* height: 100vh; */
}
