* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: sans-serif; /* Use a sans-serif font for all elements */
  }
  
  body {
    background-color: grey; /* Change the background color of the page */
    color: black; /* Set the text color to a light shade for better contrast */
  }
  
  h1{
      text-align: center;
      padding-top: 2%;
      font-size: 5rem;
  }
  
  .livestream{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;
  
  }

  #status {
      font-size: 3rem; /* Adjust as needed */
      text-align: center;
  }

  .video-js .vjs-control {
    font-size: 24px;  /* Increase as desired */
}

.video-js .vjs-control-bar {
    height: auto;  /* Let the control bar adjust to the size of the buttons */
}

.video-js .vjs-volume-panel.vjs-control .vjs-volume-bar.vjs-slider-bar::before {
    font-size: 20px; /* Increase as desired */
}

.video-js .vjs-control-bar {
    height: 45px !important;  /* Adjust this value as desired */
}